.foto-grid {
	max-width: calc(100% - (48px * 2));
	margin: 0 auto 0;
	padding: 92px 0 0;
	box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
	.foto-grid {
		max-width: calc(100% - (24px * 2));
		padding: 88px 0 0;
		border: 1px solid red;
	}
}

@media screen and (max-width: 767px) {
	.foto-grid {
		max-width: calc(100% - (16px * 2));
		padding: 64px 0 0;

	}
}

