.lead {
	flex-direction: column;
	display: flex;
	margin-top: 48px;

}

@media (max-width: 320px) {
	.lead {
		min-width: 320px;
	}
}

@media (min-width: 321px) and (max-width: 1023px) {
	.lead {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (min-width: 1024px) and (max-width: 1279px) {
	.lead {
		margin-left: 48px;
		margin-right: 48px;
	}
}

@media (min-width: 1280px) {
	.lead {
		margin-top: 56px;
		margin-left: 148px;
		margin-right: 148px;
	}
}
