.foto-grid__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-items: center;
}

@media screen and (max-width: 1279px) {
  .foto-grid__items {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .foto-grid__items {
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .foto-grid__items {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 12px;
  }
}

.foto-grid__items>li {
  width: 100%;
}