.lead__subtitle {
	letter-spacing: 0;
	text-align: center;
	margin: 0 auto;
	font-style: normal;
	font-weight: 400;
}

@media (max-width: 767px) {
	.lead__subtitle {
		margin-top: 16px;
		width: 288px;

		font-size: 16px;
		line-height: 20px;
	}
}

@media (min-width: 768px) {
	.lead__subtitle {
		margin-top: 32px;
		width: 640px;

		font-size: 30px;
		line-height: 36px;
	}
}
